body{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
.pa-1{
    text-align: center;
    color: lightgreen;
}
.container{
    height: 150px;
    width: 300px;
    position: absolute;
    left: 35%;
    text-align: center;
    background-color: lime;
    border-radius: 10%;
}
.container-2{
    height: 150px;
    width: 300px;
    text-align: center;
    background-color: lightblue;
    border-radius: 10%;
}
.pa-2{
    color: black; 
}
